{% extends "base.html" %}

{% load static %}
{% load blog_tag %}
{% block body %}



    <!--page-title area-->
    <section class="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h5 class="page-title">{{post.title}}</h5>
                        <ul class="page-list">
                            <li><a href="{% url 'website:index' %}">Home</a></li>
                            <li>{{post.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page-title area end-->

    <div class="blog-page-area pd-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 pd-top-50">
                    <div class="blog-details-page-inner">
                        <div class="single-blog-inner m-0">
                            <div class="single-post-wrap style-overlay">
                                <div class="thumb">
                                    <img src="{{post.image.url}}" alt="img">
                                </div>
                                <div class="details pb-4">
                                    <div class="post-meta-single mb-2">
                                        <ul>
                                            {% for cat in post.category.all  %}
                                            <li><a class="tag-base tag-blue" href="#">{{cat.name}}</a></li>
                                            {% endfor %}
                                            <li>
                                                <p><i class="fa fa-clock-o"></i>{{post.published_date}}</p>
                                            </li>
                                            <li><i class="fa fa-user"></i>{{post.author.get_full_name}}</li>
                                        </ul>
                                    </div>
                                    <h5 class="title mt-0">{{post.title}}</h5>
                                </div>
                            </div>
                            <div class="single-blog-details">
                                    {{post.content}}
                            </div>
                           
                            <div class="meta">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="tags">
                                            <span>Tags:</span>
                                            {% for tag in post.tags.all  %}
                                                {% if not forloop.last %}
                                                <a href="#" style="font-weight: bold;">{{tag.name}},</a>
                                                {% else %}
                                                <a href="#" style="font-weight: bold;">{{tag.name}}</a>
                                                {% endif %}
                                                

                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-7 text-md-right">
                                        <div class="blog-share">
                                            <span>Share:</span>
                                            <ul class="social-area social-area-2 d-inline">
                                                <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li><a class="youtube-icon" href="#"><i
                                                            class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="instagram-icon" href="#"><i
                                                            class="fa fa-instagram"></i></a></li>
                                                <li><a class="google-icon" href="#"><i
                                                            class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-area">
                                <div class="media">
                                    <div class="media-body align-self-center">
                                        <h4>{{post.author.get_full_name}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="related-post">
                            <div class="section-title mb-0">
                                <h5 class="mb-0">Related Post</h5>
                            </div>
                            <div class="row justify-content-center">
                                {% relatedPost post.id as relposts %}
                                {% for relpost in relposts  %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-post-wrap">
                                        <div class="thumb">
                                            <img src="{{relpost.image.url}}" alt="img">
                                                {% for cat in relpost.category.all  %}
                                                <a class="tag-base tag-blue" href="#">{{cat.name}}</a>
                                                {% endfor %}
                                        </div>
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>{{relpost.published_date}}</li>
                                                    <li><i class="fa fa-user"></i>{{relpost.author.get_full_name}}</li>
                                                </ul>
                                            </div>
                                            <h6 class="title mt-2"><a href="#">{{relpost.title}}</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="blog-comment">
                            <div class="section-title">
                                <h4>{{comments|length}} Comments</h4>
                            </div>
                            {% for comment in comments  %}
                            <div class="media">
                                <a href="#">
                                    <img src="{% static 'img/author/3.png' %}" alt="comment">
                                </a>
                                <div class="media-body">
                                    <h5><a href="#">{{comment.name}}</a></h5>
                                    <span class="date">{{comment.published_date}}</span>
                                    <p>{{comment.message}}</p>
                                    <!-- <a href="#">Reply <i class="la la-arrow-right"></i></a> -->
                                </div>
                            </div>                              
                            {% endfor %}

                            <!-- <div class="media nesting">
                                <a href="#">
                                    <img src="{% static 'img/author/3.png' %}" alt="comment">
                                </a>
                                <div class="media-body">
                                    <h5><a href="#">Jeffrey T. Kelly</a></h5>
                                    <span class="date">25 July 2023</span>
                                    <p>Again is there anyone who loves or pursues or desires to obtain paiits ecause it
                                        is pain, but because occasionally circumstances occur in which</p>
                                    <a href="#">Reply <i class="la la-arrow-right"></i></a>
                                </div>
                            </div> -->
                        </div>
                        <div class="comment-form">
                            <div class="section-title mb-0">
                                <h4 class="mb-0">Leave A Comment</h4>
                            </div>
                                <form class="contact-form-wrap" method="post" action="{% url 'blog:blog-single' id=post.id %}">
                                    <input type="hidden" name="post" value={{post.id}}>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="single-input-wrap input-group">
                                            <input type="text" class="form-control" placeholder="Your Full Name" name="name">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="single-input-wrap input-group">
                                            <input type="text" class="form-control" placeholder="Your Email" name="email">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="single-input-wrap message input-group">
                                            <textarea class="form-control" rows="4" name="message"
                                                placeholder="Write Message"></textarea>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-pencil"></i></div>
                                            </div>
                                        </div>
                                        <div class="submit-area">
                                            <button type="submit" class="btn btn-base">Post Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pd-top-50">
                    <div class="category-sitebar">
                        <div class="widget widget-category">
                            <h6 class="widget-title">Category</h6>
                            <div class="row custom-gutters-14">
                                {% allCategories as allcats %}
                                {% for cat in allcats  %}
                                <div class="col-sm-6">
                                    <div class="single-category-inner">
                                        <img src="{% static 'img/category/9.png' %}" alt="img">
                                        <a class="tag-base tag-blue" href="cat-tech.html">{{cat.name}}</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}